<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-2">

            <div class="form-row">
                <div class="form-group">
                    <label for="search">Search</label>
                    <input class="form-control" id="search" ng-model="$ctrl.query"/>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="orderBy">Order By</label>
                    <select class="custom-select" id="orderBy" ng-model="$ctrl.orderProp">
                        <option value="age">Newest</option>
                        <option value="name">Alphabetical</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-9">

            <div class="list-group">

                    <a ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp"
                       style="cursor: pointer" class="list-group-item list-group-item-action phone-list-item"
                       href="#!/phones/{{phone.id}}">
                        <img class="float-right" ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"
                             style="height: 60px; max-width: 70px">
                        <h5>{{phone.name}}</h5>
                        <span>{{phone.snippet}}</span>
                    </a>

            </div>

        </div>
    </div>
</div>

